@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* utitliy */

.purplegradient {
  background: linear-gradient(220.55deg, #a531dc 0%, #4300b1 100%);
}
/* navabar */
.active {
  color: #ffebb2;
}

.navbar a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #ffebb2;
  transition: width 0.5s;
}

.navbar a:hover::after {
  width: 100%;
}
.navbar a:hover {
  color: #ffebb2;
  transition: color 0.5s;
}
.navbar {
  /* background: linear-gradient(220.55deg, #a531dc 0%, #4300b1 100%); */
  background-color: #401f71;
  /* background: linear-gradient(90deg, #A531DC 0%, #4300B1 100%); */
  /* background: linear-gradient(220.55deg, #3793FF 0%, #0017E4 100%); */
  /* background: linear-gradient(220.55deg, #565656 0%, #181818 100%); */
  /* background: linear-gradient(220.55deg, #5D85A6 0%, #0E2C5E 100%); */
  /* background: linear-gradient(220.55deg, #4063BC 0%, #6B0013 100%); */
  /* background: linear-gradient(220.55deg, #61C695 0%, #133114 100%); */
}

/* herosection */

.custom-line-height {
  line-height: 76px;
}
.textshadow {
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
}

/* animation div */

#AnimationDiv {
  width: 200px;
  border-radius: 50%;
  background-color: white;
}

/* register button */
.button {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 1rem;

  background-color: #401f71;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff6e;
  outline: none;
  overflow: hidden;
  font-size: 20px;
  width: 12%;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
